.button {
  padding: 0;
  width: 22px;
  overflow: hidden;
  height: 22px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  color: var(--txt1);
  font-size: 16px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--txt2);
}
.button:active {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--txt3);
}

.button:focus {
  border: 1px solid var(--txt1);
  outline: none;
}
