.container {
  display: flex;
  gap: 7px;
  align-items: center;
}
.button {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  background-color: var(--bg4);
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 16px;
  font-weight: 900;
  left: 6px;
  color: var(--txt2);
}

.button:active .icon,
.button:hover .icon {
  color: var(--txt3);
}

.button:focus {
  border: 1px solid var(--txt1);
  outline: none;
}

.title {
  user-select: none;
  font-size: 13px;
}
