.container {
  background-color: var(--bg2);
  border-right: 1px solid var(--bg1);
  position: relative;
  display: flex;
  flex-direction: column;
}
.spacer {
  margin: auto;
}

.resizeBar {
  position: absolute;
  height: 100%;
  width: 5px;
  right: 0;
  top: 0;
  opacity: 0;
  background-color: var(--txt1);
  transform: translateX(3px);
  cursor: w-resize;
  transition: all 0.05s ease-in-out;
  user-select: none;
}

.resizeBar:hover {
  transition: all 0.2s cubic-bezier(1, 0, 1, 0);
  opacity: 1;
}

.title {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 40px;
  user-select: none;
  padding: 0 6px 0 15px;
  flex-shrink: 0;
}

.title span {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 400;
}
.groupName {
  user-select: none;
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
  padding: 0 6px 0 15px;
  width: 100%;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--txt1);
  outline: none;
}
.groupName:focus {
  border: 1px solid var(--txt1);
}

.groupName span {
  font-size: 13px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
}
.groupContent {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.expandIcon {
  color: var(--txt2);
  font-size: 18px;
  margin-right: 10px;
  flex-shrink: 0;
}

.groupContent button {
  height: 50px;
  width: 50px;
  margin: 3px;
  background-color: rgba(245, 245, 245, 0.315);
  border-radius: 10px;
  border: none;
}

.scrollable {
  overflow: hidden auto;
  overflow: hidden overlay;
}
.scrollable::-webkit-scrollbar,
.scrollable::-webkit-scrollbar-corner {
  background-color: transparent;
  width: 8px;
  height: 8px;
  transition: all 1s ease-in-out;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
.scrollable:hover::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 0.1);
}
