.container {
  position: relative;
  max-height: 300px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden auto;
  overflow: hidden overlay;
  width: 100%;
}
.img {
  width: 100%;
}

.placeholder {
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 13px;
  width: 100%;
  height: 100%;
  padding: 20px;
  user-select: none;
}

.pixelated {
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

.container::-webkit-scrollbar,
.container::-webkit-scrollbar-corner {
  background-color: transparent;
  width: 8px;
  height: 8px;
  transition: all 1s ease-in-out;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
.container:hover::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 0.2);
}

.sizeLabel {
  font-size: 13px;
  font-style: italic;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.5;
}
.disabled {
  display: none;
}
