.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 5px;
  min-height: 43px;
  align-items: center;
  overflow: hidden;
  gap: 5px;
  width: 100%;
}
.placeholder {
  user-select: none;
  font-size: 13px;
  margin: 0 5px;
  font-style: italic;
}

.tag {
  user-select: none;
  color: var(--txt3);
  flex-shrink: 0;
  border-radius: 8px 2px 8px 2px;
  padding: 0 10px;
  background-color: var(--bg4);
  position: relative;
  font-size: 13px;
  height: 25px;
  display: flex;
  align-items: center;
}
.removable {
  cursor: pointer;
}
.removable div {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 16px;
  visibility: hidden;
  transform: translate(-50%, -50%);
}
.removable:hover {
  background-color: #a04848;
}
.removable:hover div {
  visibility: visible;
}
.removable:hover span {
  opacity: 0.3;
}

.copyContainer {
  position: relative;
}
.copy {
  transition: opacity 1s cubic-bezier(0.66, -0.19, 1, 0.19);
}
.copyContainer:active .copy {
  transition: opacity 0s;
  opacity: 0;
}
.copyContainer:active .check {
  opacity: 1;

  transition: opacity 0s;
}
.check {
  transition: opacity 1s;
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button {
  visibility: hidden;
}
.container:hover .button {
  visibility: visible;
}
