.input {
  outline: none;
  background-color: var(--bg4);
  color: var(--txt3);
  padding: 5px;
  width: auto;
  border-radius: 2px;
  white-space: nowrap;
  border: 1px solid transparent;
  max-width: 100%;

  font-size: 13px;
  height: 25px;
}

.invalid {
  border: 1px solid red !important;
}

.input:focus {
  border: 1px solid var(--txt1);
}

.container {
  max-width: 100%;
}
