.container {
  overflow: auto;
  height: 300px;
  min-width: 320px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 5px;
}
.img {
  min-height: 100%;
  max-width: 100%;
}

.placeholder {
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 13px;
  width: 100%;
  height: 100%;
  padding: 20px;
  user-select: none;
}

.pixelated {
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}
