.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 6px;
  align-items: flex-start;
  gap: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.container:hover,
.container:focus-within {
  background-color: rgba(255, 255, 255, 0.02);
}
.container:hover .buttonContainer,
.container:focus-within .buttonContainer {
  display: flex;
}

.label {
  display: flex;
}
.buttonContainer {
  display: none;
}
.buttonContainer {
  margin: 0 5px;
  position: relative;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
