.container {
  background-color: var(--bg2);
  border-right: 1px solid var(--bg1);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.borderTop {
  border-top: 1px solid var(--bg1);
}

.resizeBar {
  position: absolute;
  height: 100%;
  width: 5px;
  right: 0;
  top: 0;
  opacity: 0;
  background-color: var(--txt1);
  transform: translateX(3px);
  cursor: w-resize;
  transition: all 0.05s ease-in-out;
  user-select: none;
}

.resizeBar:hover {
  transition: all 0.2s cubic-bezier(1, 0, 1, 0);
  opacity: 1;
}

.title {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 40px;
  user-select: none;
  flex-shrink: 0;
}
.title > button {
  margin: 0 10px;
}
.title span {
  margin-right: auto;
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 400;
}

.scrollable {
  overflow: hidden auto;
  overflow: hidden overlay;
}
.scrollable::-webkit-scrollbar,
.scrollable::-webkit-scrollbar-corner {
  background-color: transparent;
  width: 8px;
  height: 8px;
  transition: all 1s ease-in-out;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
.scrollable:hover::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 0.2);
}
