.button {
  padding: 10px;
  margin: 5px 0;
  border: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: var(--txt1);
  cursor: pointer;
  border-left: 2px solid transparent;
  font-size: 28px;
}

.button:hover {
  color: var(--txt2);
}
.button:focus {
  outline: none;
  border-left: 2px solid var(--txt1);
}

.selected {
  border-left: 2px solid var(--txt2);
}
