.button {
  height: 30px;
  width: 30px;
  background-color: var(--bg3);
  border: 1px solid var(--out);
  margin: 10px;
  border-radius: 4px;
  transition: all 0.05s ease-in-out;
}

.button:hover {
  background-color: var(--out);
}
